@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
html,
body {
  overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 1.5)) !important;
  color: #ffff !important;
  background-color: #ca8a04 !important;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 39px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 39px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 39px -18px rgba(0, 0, 0, 0.75);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  text-transform: none !important;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}

@media screen and (max-width: 640px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 2px) !important;
    left: auto;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 2px) !important;
    right: auto;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 12px !important;
    text-transform: none !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px !important;
    height: 20px !important;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 1.5)) !important;
    color: #ffff !important;
    background-color: #ca8a04 !important;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 39px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 39px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 39px -18px rgba(0, 0, 0, 0.75);
  }
}
